body {
  background: linear-gradient(114.85deg, rgba(255, 0, 0, 0.76) -0.19%, rgba(246, 47, 0, 0.723385) 29.03%, #FC9D2E 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Anton', sans-serif;
  color: white;
}